<%- include('../partials/header') %>
   
<body>
  <table>
    <thead>
      <tr>
        <th>Playlist:</th>
      </tr>
    </thead>
    <tbody>
      <% playlists.forEach(function(p) { %>
        <tr>
          <td><%= p.playlist %></td>
          <td><%= p.song %></td>
          <td><a href="/playlists/<%= p._id %>">Details</a></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  

</body>
<%- include('../partials/footer') %>