<%- include('../partials/header') %>

<section id="show-page">
    <div>Song List:</div>
    <ul>
        <%- playlist.songslist.map(s =>
        `<li>${s.name} ${s.album}</li>`
        ) %>
    </ul>
</section>
<br><br>
<form id="add-per-to-songlist" action="/playlists/<%=playlist._id%>/songs" method="POST">
<select name="songId">
    <%- songs.map(s =>
    `<option value="${s._id}">${s.name}</option>`
    ) %>
</select>
<button type="submit">Add to Song</button>
</form>



<%- include('../partials/footer') %>